h1 {
   color: grey;
   text-align: center;
   background-image:url(portfolio1.jpg) ;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding: 50px;
}
h2 {
   color: grey;
}
#link a{
   box-shadow: 10px 5px 5px grey;
   padding: 30px;
}
#image1 {
   background-image:url(image1.JPG);
   background-repeat: no-repeat;
   background-size: cover;
}
#image2 {
   background-image:url(image2.JPG);
   background-repeat: no-repeat;
   background-size: cover;
}
#hobbies {
   float:none;
}
A:link { COLOR: purple; TEXT-DECORATION: none; font-weight: normal }
A:visited { COLOR: purple; TEXT-DECORATION: none; font-weight: normal }
A:active { COLOR: red; TEXT-DECORATION: none }
A:hover { COLOR: pink; TEXT-DECORATION: none; font-weight: none }
